In [1]:
# Data Cleaning and Preprocessing
import pandas as pd

# Load the dataset
complaints_df = pd.read_csv('NYPD_Complaint_Data_Historic.csv')

complaints_df.info()

/var/folders/7b/c18lkd_95v345lvvmts66_k40000gn/T/ipykernel_75451/2447777166.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints_df = pd.read_csv('NYPD_Complaint_Data_Historic.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914838 entries, 0 to 8914837
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         object
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  int64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(7), int64(2), object(26)
memory usage: 2.3+ GB

In [2]:
# Data Cleaning and Preprocessing
# Define columns to drop
columns_to_drop = ['CMPLNT_FR_DT', 'LAW_CAT_CD', 'CMPLNT_NUM', 'CMPLNT_TO_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_TM', 'PD_CD', 'PD_DESC', 'CRM_ATPT_CPTD_CD', 
                   'JURIS_DESC', 'JURISDICTION_CODE', 'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'LOC_OF_OCCUR_DESC', 
                   'ADDR_PCT_CD', 'RPT_DT', 'BORO_NM', 'X_COORD_CD', 'Y_COORD_CD', 'TRANSIT_DISTRICT', 'Lat_Lon', 
                   'PATROL_BORO', 'STATION_NAME', 'KY_CD', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

# Drop the columns
complaints_df = complaints_df.drop(columns=columns_to_drop)
complaints_df = complaints_df.dropna()

# Rows with ""(null)"" values that we can remove
# Define columns where (null) values need to be checked
columns_to_check = ['OFNS_DESC', 'PREM_TYP_DESC']

# Filter out rows where any of the specified columns contain '(null)'
complaints_df = complaints_df[~complaints_df[columns_to_check].isin(['(null)']).any(axis=1)]

In [3]:
complaints_df.head()

   CMPLNT_FR_DT OFNS_DESC    PREM_TYP_DESC   Latitude  Longitude
8    12/05/2006   ROBBERY             BANK  40.741731 -73.989447
9    07/12/2006     ARSON  RESIDENCE-HOUSE  40.689592 -73.940805
10   11/26/2006     ARSON  RESIDENCE-HOUSE  40.676671 -73.931768
12   11/21/2006   ROBBERY           STREET  40.850992 -73.827426
29   09/01/2007   ROBBERY             BANK  40.707632 -74.011479

In [4]:
# List of categorical columns
categorical_columns = ['OFNS_DESC', 'PREM_TYP_DESC']

# Print unique values for each categorical column
for column in categorical_columns:
    unique_values = complaints_df[column].unique()
    print(f"Unique values in {column}: {unique_values}\n")

Unique values in OFNS_DESC: ['ROBBERY' 'ARSON' 'HARRASSMENT 2' 'FELONY ASSAULT' 'GRAND LARCENY'
 'PETIT LARCENY' 'DANGEROUS DRUGS' 'ESCAPE 3' 'BURGLARY' 'RAPE'
 'DANGEROUS WEAPONS' 'SEX CRIMES' 'ASSAULT 3 & RELATED OFFENSES' 'FORGERY'
 'MISCELLANEOUS PENAL LAW' 'GAMBLING' 'OFF. AGNST PUB ORD SENSBLTY &'
 'CRIMINAL MISCHIEF & RELATED OF' 'OFFENSES AGAINST PUBLIC ADMINI'
 'GRAND LARCENY OF MOTOR VEHICLE' 'MURDER & NON-NEGL. MANSLAUGHTER'
 'VEHICLE AND TRAFFIC LAWS' 'FRAUDS' 'INTOXICATED & IMPAIRED DRIVING'
 'POSSESSION OF STOLEN PROPERTY' 'OFFENSES AGAINST THE PERSON'
 'THEFT-FRAUD' 'ADMINISTRATIVE CODE' 'CRIMINAL TRESPASS'
 'UNAUTHORIZED USE OF A VEHICLE' 'OFFENSES INVOLVING FRAUD'
 'KIDNAPPING & RELATED OFFENSES' 'NYS LAWS-UNCLASSIFIED FELONY'
 'ALCOHOLIC BEVERAGE CONTROL LAW' 'PROSTITUTION & RELATED OFFENSES'
 "BURGLAR'S TOOLS" 'OFFENSES AGAINST PUBLIC SAFETY'
 'PETIT LARCENY OF MOTOR VEHICLE' 'OTHER STATE LAWS' 'JOSTLING'
 'FRAUDULENT ACCOSTING' 'OTHER STATE LAWS (NON PENAL LA'
 'OTHER OFFENSES RELATED TO THEF' 'OFFENSES RELATED TO CHILDREN'
 'CHILD ABANDONMENT/NON SUPPORT' 'DISRUPTION OF A RELIGIOUS SERV'
 'NEW YORK CITY HEALTH CODE' 'ANTICIPATORY OFFENSES'
 'ENDAN WELFARE INCOMP' 'FORTUNE TELLING' 'HOMICIDE-NEGLIGENT,UNCLASSIFIE'
 'LOITERING/GAMBLING (CARDS, DIC' 'UNLAWFUL POSS. WEAP. ON SCHOOL'
 'LOITERING FOR DRUG PURPOSES' 'HOMICIDE-NEGLIGENT-VEHICLE' 'LOITERING'
 'LOITERING/DEVIATE SEX' 'ADMINISTRATIVE CODES'
 'INTOXICATED/IMPAIRED DRIVING' 'ABORTION' 'THEFT OF SERVICES'
 'OTHER TRAFFIC INFRACTION' 'DISORDERLY CONDUCT'
 'OFFENSES AGAINST MARRIAGE UNCL' 'UNDER THE INFLUENCE OF DRUGS'
 'OTHER STATE LAWS (NON PENAL LAW)' 'KIDNAPPING'
 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED' 'KIDNAPPING AND RELATED OFFENSES'
 'NYS LAWS-UNCLASSIFIED VIOLATION' 'FELONY SEX CRIMES'
 'CANNABIS RELATED OFFENSES']

Unique values in PREM_TYP_DESC: ['BANK' 'RESIDENCE-HOUSE' 'STREET' 'PUBLIC SCHOOL' 'HOSPITAL' 'OTHER'
 'CHAIN STORE' 'PUBLIC BUILDING' 'GROCERY/BODEGA' 'BUS (NYC TRANSIT)'
 'RESIDENCE - APT. HOUSE' 'FOOD SUPERMARKET' 'BAR/NIGHT CLUB'
 'HOTEL/MOTEL' 'FAST FOOD' 'DRY CLEANER/LAUNDRY' 'CHURCH'
 'MULTI DWELL - APT BUILD' 'DEPARTMENT STORE' 'PRIVATE/PAROCHIAL SCHOOL'
 'CHECK CASHING BUSINESS' 'PARKING LOT/GARAGE (PUBLIC)'
 'PARKING LOT/GARAGE (PRIVATE)' 'RESTAURANT/DINER' 'COMMERCIAL BUILDING'
 'DRUG STORE' 'COMMERCIAL BLDG' 'CLOTHING/BOUTIQUE' 'SMALL MERCHANT'
 'OPEN AREAS (OPEN LOTS)' 'SOCIAL CLUB/POLICY' 'MULTI DWELL - PUBLIC HOUS'
 'STORAGE FACILITY' 'LIQUOR STORE' 'NONE' 'GAS STATION'
 'RESIDENCE - PUBLIC HOUSING' 'HIGHWAY/PARKWAY' 'TELECOMM. STORE'
 'PVT HOUSE' 'CEMETERY' 'DOCTOR/DENTIST OFFICE' 'GYM/FITNESS FACILITY'
 'TRANSIT FACILITY (OTHER)' 'TUNNEL' 'BUS (OTHER)' 'SUPERMARKET'
 'VARIETY STORE' 'PARK/PLAYGROUND' 'BUS STOP' 'SYNAGOGUE' 'LOAN COMPANY'
 'STORE UNCLASSIFIED' 'FACTORY/WAREHOUSE' 'BUS TERMINAL' 'MARINA/PIER'
 'ABANDONED BUILDING' 'BRIDGE' 'VIDEO STORE' 'OTHER HOUSE OF WORSHIP'
 'BOOK/CARD' 'JEWELRY' 'BEAUTY & NAIL SALON' 'CONSTRUCTION SITE'
 'JEWELRY STORE' 'ATM' 'CANDY STORE' 'SOCIAL CLUB/POLICY LOCATI'
 'TAXI (LIVERY LICENSED)' 'TAXI (YELLOW LICENSED)' 'BEAUTY/NAIL SALON'
 'SCHOOL' 'PHOTO/COPY' 'SHOE' 'CLOTHING BOUTIQUE' 'FERRY/FERRY TERMINAL'
 'TRANSIT - NYC SUBWAY' 'TAXI/LIVERY (UNLICENSED)' 'MOSQUE' 'TRAMWAY'
 'AIRPORT TERMINAL' 'COLLEGE/UNIVERSITY' 'DOCTOR/DENTIST' 'DEPT STORE'
 'SHOE STORE' 'REAL ESTATE' 'MOBILE FOOD' 'MAILBOX OUTSIDE' 'CHECK CASH'
 'MAILBOX INSIDE' 'HOMELESS SHELTER' 'DAYCARE FACILITY' 'SMOKE SHOP']

In [5]:
# Read the CSV file into a DataFrame
severity_df = pd.read_csv('offense_severity_scores.csv')

severity_dict = severity_df.set_index('Offense')['Severity_Score'].to_dict()
complaints_df['OFNS_DESC_Severity_Score'] = complaints_df['OFNS_DESC'].map(severity_dict)

# Display the DataFrame to verify the mapping
complaints_df.head()

,CMPLNT_FR_DT,OFNS_DESC,PREM_TYP_DESC,Latitude,Longitude,OFNS_DESC_Severity_Score
8,12/05/2006,ROBBERY,BANK,40.741731,-73.989447,8.0
9,07/12/2006,ARSON,RESIDENCE-HOUSE,40.689592,-73.940805,8.0
10,11/26/2006,ARSON,RESIDENCE-HOUSE,40.676671,-73.931768,8.0
12,11/21/2006,ROBBERY,STREET,40.850992,-73.827426,8.0
29,09/01/2007,ROBBERY,BANK,40.707632,-74.011479,8.0

In [6]:
complaints_df['PREM_TYP_DESC'].unique()

array(['BANK', 'RESIDENCE-HOUSE', 'STREET', 'PUBLIC SCHOOL', 'HOSPITAL',
       'OTHER', 'CHAIN STORE', 'PUBLIC BUILDING', 'GROCERY/BODEGA',
       'BUS (NYC TRANSIT)', 'RESIDENCE - APT. HOUSE', 'FOOD SUPERMARKET',
       'BAR/NIGHT CLUB', 'HOTEL/MOTEL', 'FAST FOOD',
       'DRY CLEANER/LAUNDRY', 'CHURCH', 'MULTI DWELL - APT BUILD',
       'DEPARTMENT STORE', 'PRIVATE/PAROCHIAL SCHOOL',
       'CHECK CASHING BUSINESS', 'PARKING LOT/GARAGE (PUBLIC)',
       'PARKING LOT/GARAGE (PRIVATE)', 'RESTAURANT/DINER',
       'COMMERCIAL BUILDING', 'DRUG STORE', 'COMMERCIAL BLDG',
       'CLOTHING/BOUTIQUE', 'SMALL MERCHANT', 'OPEN AREAS (OPEN LOTS)',
       'SOCIAL CLUB/POLICY', 'MULTI DWELL - PUBLIC HOUS',
       'STORAGE FACILITY', 'LIQUOR STORE', 'NONE', 'GAS STATION',
       'RESIDENCE - PUBLIC HOUSING', 'HIGHWAY/PARKWAY', 'TELECOMM. STORE',
       'PVT HOUSE', 'CEMETERY', 'DOCTOR/DENTIST OFFICE',
       'GYM/FITNESS FACILITY', 'TRANSIT FACILITY (OTHER)', 'TUNNEL',
       'BUS (OTHER)', 'SUPERMARKET', 'VARIETY STORE', 'PARK/PLAYGROUND',
       'BUS STOP', 'SYNAGOGUE', 'LOAN COMPANY', 'STORE UNCLASSIFIED',
       'FACTORY/WAREHOUSE', 'BUS TERMINAL', 'MARINA/PIER',
       'ABANDONED BUILDING', 'BRIDGE', 'VIDEO STORE',
       'OTHER HOUSE OF WORSHIP', 'BOOK/CARD', 'JEWELRY',
       'BEAUTY & NAIL SALON', 'CONSTRUCTION SITE', 'JEWELRY STORE', 'ATM',
       'CANDY STORE', 'SOCIAL CLUB/POLICY LOCATI',
       'TAXI (LIVERY LICENSED)', 'TAXI (YELLOW LICENSED)',
       'BEAUTY/NAIL SALON', 'SCHOOL', 'PHOTO/COPY', 'SHOE',
       'CLOTHING BOUTIQUE', 'FERRY/FERRY TERMINAL',
       'TRANSIT - NYC SUBWAY', 'TAXI/LIVERY (UNLICENSED)', 'MOSQUE',
       'TRAMWAY', 'AIRPORT TERMINAL', 'COLLEGE/UNIVERSITY',
       'DOCTOR/DENTIST', 'DEPT STORE', 'SHOE STORE', 'REAL ESTATE',
       'MOBILE FOOD', 'MAILBOX OUTSIDE', 'CHECK CASH', 'MAILBOX INSIDE',
       'HOMELESS SHELTER', 'DAYCARE FACILITY', 'SMOKE SHOP'], dtype=object)

In [7]:
import pandas as pd
import scipy.stats as stats

# Assuming 'complaints_df' is your DataFrame
cross_tab = pd.crosstab(complaints_df['PREM_TYP_DESC'], complaints_df['OFNS_DESC'])

chi2, p_value, dof, expected = stats.chi2_contingency(cross_tab)

print("Chi-Square Statistic:", chi2)
print("P-value:", p_value)

Chi-Square Statistic: 13880851.282352192
P-value: 0.0

In [8]:
# hypothesis - no association between PREM_TYP_DESC and OFNS_DESC
# The Chi-Square statistic and p-value obtained suggest 
# a very strong association between the type of premises (PREM_TYP_DESC) and the type of offense (OFNS_DESC). 
# With a Chi-Square statistic of approximately 6547656.49 and a p-value of 0.0, 
# can confidently reject the null hypothesis that there is no association between these two variables. 
# This means there is statistically significant evidence to support that different types of 
# offenses occur with varying frequencies at different types of premises.

In [9]:
# Map PREM_TYP_DESC to an Ecomonic Value 
economic_df = pd.read_csv('economic_values.csv')

# Convert DataFrame back to a dictionary
economic_values_dict = pd.Series(economic_df.Economic_Value.values, index=economic_df.Premise_Type).to_dict()

# Map the economic values to complaints_df
complaints_df['PREM_Economic_Value'] = complaints_df['PREM_TYP_DESC'].map(economic_values_dict)

# Print the updated DataFrame to verify
complaints_df.head()

,CMPLNT_FR_DT,OFNS_DESC,PREM_TYP_DESC,Latitude,Longitude,OFNS_DESC_Severity_Score,PREM_Economic_Value
8,12/05/2006,ROBBERY,BANK,40.741731,-73.989447,8.0,10.0
9,07/12/2006,ARSON,RESIDENCE-HOUSE,40.689592,-73.940805,8.0,4.0
10,11/26/2006,ARSON,RESIDENCE-HOUSE,40.676671,-73.931768,8.0,4.0
12,11/21/2006,ROBBERY,STREET,40.850992,-73.827426,8.0,1.0
29,09/01/2007,ROBBERY,BANK,40.707632,-74.011479,8.0,10.0

In [11]:
# Save the modified DataFrame

# Drop the columns
complaints_df = complaints_df.drop(columns=['OFNS_DESC', 'PREM_TYP_DESC'])
complaints_df = complaints_df.dropna()

complaints_df.to_csv('NYPD_cleaned_mapped.csv', index=False)

In [12]:
complaints_df.head()

,CMPLNT_FR_DT,Latitude,Longitude,OFNS_DESC_Severity_Score,PREM_Economic_Value
8,12/05/2006,40.741731,-73.989447,8.0,10.0
9,07/12/2006,40.689592,-73.940805,8.0,4.0
10,11/26/2006,40.676671,-73.931768,8.0,4.0
12,11/21/2006,40.850992,-73.827426,8.0,1.0
29,09/01/2007,40.707632,-74.011479,8.0,10.0

In [13]:
complaints_df.count()

CMPLNT_FR_DT                8856365
Latitude                    8856365
Longitude                   8856365
OFNS_DESC_Severity_Score    8856365
PREM_Economic_Value         8856365
dtype: int64